<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card id="{{ newsToBigCard?.source?.id }}" cardDescription="{{ newsToBigCard?.description }}" cardTitle="{{ newsToBigCard?.title }}" photoCover="{{ newsToBigCard?.urlToImage }}"></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
      *ngFor="let articles of newsToSmallCard"
      [id]="articles.source.id"
      [cardTitle]="articles.title"
      [photoCover]="articles.urlToImage"
    ></app-small-card>
  </div>
</div>